<html>
<head>
<title>Ujas blog</title>
</head>
<body>
<div>
<h1><a href="">Django Girls Blog</a></h1>
</div>
<div>
<p>published: 03.11.2017, 12:14</p>
<h2><a href="">My first post</a></h2>
<p>Through the webinar, you will learn about news safety and security options for journalists available from Google, 
gain insights on the current security risks for journalists, learn how to assess your own security risk profile, 
discover actionable steps you can take to protect yourself, and your sources from possible security risk.</p>
</div>
<div>
<div>
<p>published: 03.11.2017, 12:14</p>
<h2><a href="">My first post</a></h2>
<p>Through the webinar, you will learn about news safety and security options for journalists available from Google, 
gain insights on the current security risks for journalists, learn how to assess your own security risk profile, 
discover actionable steps you can take to protect yourself, and your sources from possible security risk.</p>
</div>
<p>published:03.11.2017, 12:14</p>
<h2><a href="">My second post</a></h2>
<p>Through the webinar, you will learn about news safety and security options for journalists available from Google, 
gain insights on the current security risks for journalists, learn how to assess your own security risk profile, 
discover actionable steps you can take to protect yourself, and your sources from possible security risk.</p>
</div>
</body>
</html